body{
    background-color:#f4f4f4;
    color: #555;
    font-family:Courier New, Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: #280305;
    color: #fff;
}

#navbar{
    background-color: cornsilk;
    color: white;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: teal;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#showcase{
    background-image:url('../imgs/backgroungimg.png');
    background-position: center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
    color: #f4f4f4;
}

#showcase h1{
    color: #fff;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background:#333 ;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }


}
